<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhatminh.vocabulary" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/toeicuit"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nhatminh.training.Contents"
            android:label="@string/title_activity_contents"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShowFavoriteWords"
            android:label="Remind"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ListLevelActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="com.nhatminh.note.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.Intent.ACTION_USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.nhatminh.note.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.nhatminh.playgame.Games"
            android:label="@string/title_activity_games"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.nhatminh.playgame.GameOver"
            android:label="@string/title_activity_game_over"
            android:theme="@style/Theme.D1NoTitleDim" >
        </activity>
        <activity
            android:name="com.nhatminh.playgame.Highscore"
            android:label="@string/title_activity_highscore" >
        </activity>
        <activity
            android:name="com.nhatminh.playgame.SaveScore"
            android:label="@string/title_activity_save_score"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name="com.nhatminh.playgame.Winner"
            android:label="@string/title_activity_winner"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.D1NoTitleDim">
        </activity>
    </application>

</manifest>
